= hero_unit(profile: @omniauth_account.social_media_profile(@options)) do |data, profile|
  - data[:title] = "Facebook"
  - data[:image] = "" 
  - data[:link] = profile["link"]
  - data[:description] = profile["name"]

