#users.row-fluid
  .span12
    = will_paginate(@users, :renderer => WillPaginate::ActionView::LinkRenderer, :class => "pagination pagination-centered")
    %table.table.table-condensed.table-hover
      %thead
        %tr
          %th Username
          %th Email
          %th Registered
          %th Birthday
      %tbody
      - users.each do |user|
        = render user
    = will_paginate(@users, :renderer => WillPaginate::ActionView::LinkRenderer, :class => "pagination pagination-centered")
