%p Created by neceha-bgl as app starter for Social Media 
%p
  %a{href: "https://github.com/neceha-bgl"} neceha-bgl
  licensed under
  %a{href: "#"}  neceha-bgl
  %ul{ class: "footer-links"}
    %li
      %a{href: "https://github.com/neceha-bgl/viadeo"} Viadeo
    %li.muted ·
    %li
      %a{href: "https://github.com/neceha-bgl/social_media_app"} Social Media App
    %li.muted ·
    %li
      %a{href: "#"} Soon

